    <nav class="navbar navbar-expand-md navbar-light bg-light" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">

      <%= link_to image_tag("SpaceLogo.png", alt: "logo", class:"Logonavbar"), home_path, class:"navbar-brand" %>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SpaceNavBar"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse text-center" id="SpaceNavBar">
        <ul class="navbar-nav">
 
          <li class="nav-item dropdown <%= active_page(yield(:dd_group),"The Studio") %>">
             <%= link_to "THE STUDIO", '#', class:"nav-link dropdown-toggle", "data-toggle" => "dropdown" %>

            <div class="dropdown-menu">
              <%= link_to "HOME", home_path, class: ['dropdown-item', active_page(yield(:title),"Home")] %>
              <%= link_to "Attend a Class", '#', class:"dropdown-item" %>
              <%= link_to "Rent The Space", '#', class:"dropdown-item" %>
              <%= link_to "Basement Studio", '#', class:"dropdown-item" %>
      		    <%= link_to "First Floor Studio", '#', class:"dropdown-item" %>
      		    <%= link_to "Garden", '#', class:"dropdown-item" %>
            </div>
          </li>

      	  <li class="nav-item">
      	    <%= link_to "TIMETABLE", '#', class:"nav-link" %>
          </li>

          <li class= "nav-item dropdown <%= active_page(yield(:dd_group),"Classes") %>"> 
            <%= link_to "CLASSES", '#', class:"nav-link dropdown-toggle", "data-toggle" => "dropdown" %>
              <div class="dropdown-menu">
                <%= link_to "CLASS COMPARE", '#', class:"dropdown-item" %>
                <%= link_to "Aerial Silk & Hoop", aerial_path, class: ['dropdown-item', active_page(yield(:title),"Aerial Silk &amp; Hoop")] %>
                <%= link_to "Ashtanga Yoga", ashtanga_path, class:"dropdown-item" %>
                <%= link_to "Body Quest", '#', class:"dropdown-item" %>
                <%= link_to "Dance-A-Cize", '#', class:"dropdown-item" %>
                <%= link_to "Dance-Fit", '#', class:"dropdown-item" %>
                <%= link_to "Kids Aerial Silk & Hoop", '#', class:"dropdown-item" %>
                <%= link_to "Pilates Flow", '#', class:"dropdown-item" %>
                <%= link_to "Pilates Fusion", '#', class:"dropdown-item" %>
                <%= link_to "Pole Dancing (S1)", '#', class:"dropdown-item" %>
                <%= link_to '#', :class => 'dropdown-item' do %>Pound<span class="Trademark">&reg;</span> Fitness<% end %>
                <%= link_to "Taekwondo", '#', class:"dropdown-item" %>
                <%= link_to "The Movement", '#', class:"dropdown-item" %>
                <%= link_to "Yin & Yang Yoga", '#', class:"dropdown-item" %>
                <%= link_to "Yoga & Mobility", '#', class:"dropdown-item" %>
                <%= link_to "Yoga Indi Evolve", '#', class:"dropdown-item" %>
                <%= link_to "Yoga with Dhara", '#', class:"dropdown-item" %>
                <%= link_to '#', :class => 'dropdown-item' do %>Zumba<span class="Trademark">&reg;</span> with Priti<% end %>
              </div>
          </li>
	
        	<li class="nav-item">
        	  <%= link_to "WHAT'S ON", '#', class:"nav-link" %>
          </li>
        	<li class="nav-item">
        	  <%= link_to "SOCIALMEDIA", '#', class:"nav-link" %>	  
          </li>
        	<li class="nav-item">
    	  	  <%= link_to "GALLERY", '#', class:"nav-link" %>
          </li>
        	<li class="nav-item">
        	  <%= link_to "CONTACT", '#', class:"nav-link" %>
          </li>
          <li class="nav-item dropdown <%= active_page(yield(:dd_group),"Membership") %>">
             <%= link_to "MEMBERSHIP", '#', class:"nav-link dropdown-toggle", "data-toggle" => "dropdown" %>
               <div class="dropdown-menu">
               <% if logged_in? %>
                    <%= link_to "Profile", current_user, class:"dropdown-item" %>
                    <%= link_to "Settings", edit_user_path(current_user), class:"dropdown-item" %>
                    <%= link_to "Users", users_path, class:"dropdown-item" %>                    
                    <%= link_to "Log out", logout_path, method: :delete, class:"dropdown-item" %>
                   <% else %>
                    <%= link_to "Signup", signup_path, class: ['dropdown-item', active_page(yield(:title),"Signup")] %>
                    <%= link_to "Login", login_path, class: ['dropdown-item', active_page(yield(:title),"Login")] %>    
                  <% end %>
             </div>
          </li>
	
        </ul>
      </div>
    </div>
    </nav>
