<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | SpaceOnrails</title>
    <%= render 'layouts/headmeta' %>
  </head>

  <body>
    
    <%= render 'layouts/navbar' %>

    <%= yield %>
    
    <%= render 'layouts/socmed' %>

  </body>
</html>
